<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   <title>Sign in</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 <!-- Font Awesome -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
 <!-- MDB -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css" rel="stylesheet" />
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"></script>

</head>

<body><!-- Start: Navbar Centered Links -->
   <%- include('../home/header1.ejs') %>
      <!-- End: Navbar Centered Links -->
      <section class="py-5">
         <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
               <div class="col-md-8 col-xl-6 text-center mx-auto">
                  <p class="fw-bold text-success mb-2">Sign in</p>
                  <h2 class="fw-bold">Welcome</h2>
               </div>
            </div>
            <div class="row d-flex justify-content-center">
               <div class="col-md-6 col-xl-4">
                  <div class="card">
                     <div class="card-body text-center d-flex flex-column align-items-center"
                        style="padding-right: 7px;margin-left: 8px;padding-left: 10px;">
                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4"><svg
                              xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                              viewBox="0 0 16 16" class="bi bi-person">
                              <path
                                 d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z">
                              </path>
                           </svg></div>
                        <form method="post" action="login">
                           <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email">
                           </div>
                           <div class="mb-3"><!-- Start: Toggle Password -->
                              <div class="input-group"><input class="form-control passInput" type="password"
                                    name="password" placeholder="Password"></div>
                              <!-- End: Toggle Password -->
                           </div>
                           <div class="mb-3"><button class="btn btn-primary shadow d-block w-100" type="submit">Sign
                                 in</button>
                           </div>
                           <p class="text-muted"><a href="/forget">Forgot Password?</a></p>
                           <p class="text-muted">Don't have an account?&nbsp;<a href="/home/signup">Sign
                                 up</a></p>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section><!-- Start: Footer Multi Column -->
      <!-- .........................................add2.......................................... -->











      <!-- ...........................................add............................ -->

</body>

</html>