<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr" >
   <head>
      <meta charset="utf-8">
      <title>Login Form </title>
      <link rel="stylesheet" href="../css/signin_2.css">
      <link rel="stylesheet" href="../bootstrap-5.3.3-dist/css/bootstrap.min.css">
      <script src="../bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
   </head>
   <body data-bs-theme="<%= mode %>">
      <!-- ..................nav bar.......................... -->
      <%- include('../home/home_nav') %>
      <div class="wrapper">
         <div class="title">
            Login Form
         </div>
         <form action="login" method="post">
            <div class="field">
               <input type="text" name="email" required>
               <label>Email Address</label>
            </div>
            <div class="field">
               <input type="password" name="password" required>
               <label>Password</label>
            </div>
            <div class="content">
               <div class="checkbox">
                  <input type="checkbox" id="remember-me">
                  <label for="remember-me">Remember me</label>
               </div>
               <div class="pass-link">
                  <a href="../html/forget.html">Forgot password?</a>
               </div>
            </div>
            <div class="field">
               <input type="submit" value="Login">
            </div>
            <div class="signup-link">
               Not a member? <a href="signup">Signup now</a>
            </div>
         </form>
      </div>
   </body>
</html>