<footer class="footer">
    <div class="container">
      <div class="row text-center text-md-start">
        <!-- Contact Information -->
        <div class="col-md-3 mb-4">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li>Mirpur</li>
            <li>Dhaka, Bangladesh</li>
            <li>(+880) 130-952-9592</li>
            <li>streetfood90@gmail.com</li>
          </ul>
        </div>
        <!-- Quick Links -->
        <div class="col-md-3 mb-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Order Now</a></li>
            <li><a href="#">My Orders</a></li>
            <li><a href="#">Account Settings</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
        <!-- Social Media Links -->
        <div class="col-md-3 mb-4">
          <h5>Follow Us</h5>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
        <!-- Newsletter Signup -->
        <div class="col-md-3 mb-4">
          <h5>Subscribe to Our Newsletter</h5>
          <form class="newsletter-form">
            <input type="email" placeholder="Enter your email" required>
            <button type="submit">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="row mt-4 text-center text-md-start">
        <!-- Legal Information -->
        <div class="col-md-6 mb-4">
          <ul class="list-unstyled">
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <!-- Operating Hours -->
        <div class="col-md-3 mb-4">
          <h5>Operating Hours</h5>
          <ul class="list-unstyled">
            <li>Mon-Fri: 9am - 9pm</li>
            <li>Sat-Sun: 10am - 10pm</li>
          </ul>
        </div>
       
      </div>
    </div>
    <div class="bottom-footer">
      <div class="container">
        <p class="mb-0">&copy; 2024 Street Food Management System. All rights reserved.</p>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../js/mode.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  
  
</body>
</html>